.my-learning-page {
  padding: 16px;
  font-family: sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.heading h2 {
  margin: 0 0 8px;
  font-size: 30px;
}

.filters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.filters button {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

.filters .active {
  background: #ff8c00;
  color: white;
  border-color: #ff8c00;
  font-size: 20px;
}

.subheading {
  font-weight: bold;
  background: #e6f7f7;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

.card-list {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 4px;
}

.learning-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 12px 16px; 
  border-radius: 10px;
  margin: 12px 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.course-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;       
  border: 2px solid black;   
}

.course-details {
  flex-grow: 1;
  padding: 8px 10px; 

  justify-content: center;
  gap: 4px; 
}


.course-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 4px;
}

.stars {
  color: red;
  font-size: 20px;
  margin-bottom: 4px;
}

.tag {
  display: inline-block;
  background: #e6f7f7;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 15px;
}

.course-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.percent {
  font-weight: bold;
  font-size: 23px;
}

.status {
  display: block;
  font-size: 15px;
  color:black;
  margin-top: 4px;
}
.status-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heart-btn {
  background: none;
  border: none;
  font-size: 40px;
  color: black;
  margin-top: 4px;
  cursor: pointer;
}

